.container {
  position: relative;
}
.container label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 1.5rem;
  transform: translateY(-50%);
  background-color: var(--light-theme-color);
  color: var(--dark-theme-color);
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.container textarea {
  resize: none;
}
.input {
  width: 100%;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: 1px solid var(--dark-theme-color);
  border-radius: 5px;
  padding: 1rem 0.7rem;
  color: var(--font-color);
  transition: 0.1s ease-out;
  font-family: var(--body-font);
}
.input:disabled,
.input:disabled + label {
  border-color: gray;
  color: gray;
}
.input:focus {
  border-color: var(--font-color);
}
.input:focus + label {
  color: var(--font-color);
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}

.showError .input,
.showError .input:focus {
  border-color: red;
}
.showError label,
.showError .input:focus + label {
  color: red;
}
.errorMessage {
  font-size: 0.8rem;
  margin: 0.3rem 0 0 0;
  color: red;
}
