.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  position: relative;
  width: 100vw;
  max-width: var(--max-width);
  height: 35rem;
  background-color: black;
  margin: 2rem auto;
  padding: 0 var(--margin);
}
.slide {
  height: 100%;
  width: auto;
}

.videoContainer {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  height: 35rem;
  margin-top: 1rem;
  margin: 2rem auto;
  padding: 0 var(--margin);
}
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.audioContainer {
  margin: 2rem 0;
}
.songTitleContainer {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}
.songTitle {
  font-family: var(--body-font);
  margin: 0;
  margin-right: 2rem;
  font-size: 1rem;
}
.songDescription {
  font-family: var(--body-font);
}

@media (--sm-viewport) {
  .carousel,
  .videoContainer {
    height: 20rem;
  }
}
