.loader {
  transform: rotate(-90deg);
  stroke-linecap: round;
  fill: none;
}
.circle {
  stroke: var(--dark-theme-color);
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke-dasharray: 312;
  animation: external 1s linear infinite;
}

@keyframes external {
  0% {
    stroke-dashoffset: 312;
    transform: rotate(70deg);
  }
  60% {
    stroke-dashoffset: -312;
  }
  100% {
    stroke-dashoffset: -312;
    transform: rotate(450deg);
  }
}
