.container {
  width: 100%;
  background-color: var(--light-theme-color);
  padding: 1rem;
  display: flex;
  align-items: center;
}
.button {
  background: none;
  border: none;
  color: var(--dark-theme-color);
}
.timecode {
  color: var(--dark-theme-color);
  padding: 0 2rem;
}
.progress {
  flex: 1;
  height: 1rem;
  cursor: pointer;
  margin-right: 1rem;
  background-color: var(--dark-theme-color);
}
.progressBar {
  background-color: var(--dark-theme-color);
}
