@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-gap: 0.5rem;
  justify-content: center;
  grid-template-columns: auto 1fr auto;
  padding: 1.5rem var(--margin);
  font-size: 0.8rem;
}
.container a {
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.socialLinkContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.socialLink {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.socialSvg {
  width: 1rem;
  height: 1rem;
  fill: var(--lighter-theme-color);
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media (max-width: $small) {
  .container {
    grid-gap: 1rem;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .socialLinkContainer {
    grid-row: 1;
  }
  .left,
  .right {
    align-items: center;
  }
}
