@import "../../styles/variables.scss";

.separator {
  background-color: var(--dark-theme-color);
  width: 1px;
  height: 50%;
  margin: auto;
}

.twoColumns {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr auto 1fr;
  margin: 3rem 0;
}
.richText {
  line-height: 1.75rem;
}
.richText h1 {
  font-size: 2rem;
}
.richText p {
  margin-bottom: 2rem;
}

.imageContainer {
  width: 50%;
}

.resumeContainer {
  margin: 3rem 0;
}

@media (max-width: $small) {
  .twoColumns {
    grid-template-columns: 1fr;
  }
  .separator {
    height: 1px;
    width: 50%;
  }
}
