.container {
  width: 100%;
  background-color: var(--lighter-theme-color);
  display: flex;
  align-items: center;
  padding: 1.5rem 2.5rem;
  font-size: 0.8rem;
}
.container a {
  text-decoration: underline;
}

.left {
  display: flex;
  flex-direction: column;
}


.socialLinkContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}
.socialLink {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--font-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.socialSvg {
  width: 1rem;
  height: 1rem;
  fill: var(--lighter-theme-color);
}

.right {
  display: flex;
  flex-direction: column;
}
