@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Montserrat&display=swap");

:root {
  --lighter-theme-color: #f5e7dd;
  --light-theme-color: #efdcd3;
  --dark-theme-color: #bc5957;
  --font-color: #1e1d1d;
  --header-font: "Cormorant", serif;
  --body-font: "Montserrat", sans-serif;
  --margin: 2.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--lighter-theme-color);
  color: var(--font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
